Repository ralna/spral, pull requests merged in 2025-04, with the labels that each got.

#224 Test the compilation of SPRAL with llvm/clang
  .github/julia/build_tarballs_yggdrasil.jl
  .github/workflows/clang.yml
  .github/workflows/meson.yml
  meson.build
Labels: ci

#244 Add suite for the tests
  examples/C/meson.build
  examples/C/rutherford_boeing/meson.build
  examples/C/scaling/meson.build
  examples/C/ssmfe/meson.build
  examples/Fortran/meson.build
  examples/Fortran/rutherford_boeing/meson.build
  examples/Fortran/scaling/meson.build
  examples/Fortran/ssmfe/meson.build
  meson.build
  tests/meson.build
  tests/ssids/meson.build
  tests/ssmfe/meson.build
Labels: build-system

#242 [Meson] Add an option to compile SPRAL without OpenMP
  meson.build
  meson_options.txt
Labels: build-system

#239 Remove autotools build system
  .github/workflows/autotools.yml
  COMPILE.md
  Doxyfile
  Makefile.am
  README.md
  autogen.sh
  configure.ac
  cuda.supp
  m4/ax_append_compile_flags.m4
  m4/ax_append_flag.m4
  m4/ax_blas.m4
  m4/ax_check_compile_flag.m4
  m4/ax_lapack.m4
  m4/ax_require_defined.m4
  m4/spral_gtg.m4
  m4/spral_metis.m4
  m4/spral_no_fort_main.m4
  m4/spral_nvcc_lib.m4
  m4/spral_prog_nvcc.m4
  nvcc_arch_sm.c
Labels: build-system

#247 Fix indexing in C documentation
  docs/C/coord_format.rst
  docs/C/csc_format.rst
  docs/C/scaling.rst
Labels: docs

#248 Fix undefined behaviour in metis5_wrapper
  src/metis5_wrapper.F90
Labels: bug, ci

#250 [Meson] Support llvm-flang
  meson.build
Labels: build-system
